/* ================= FORM ĐĂNG KÝ ================= */
.main-form {
    padding: 60px 40px;
    margin-bottom: 30px;
}

.hinh-minh-hoa {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
    animation: nhapNho 3s infinite ease-in-out;
}

@keyframes nhapNho {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.form-title {
    color: var(--mau-nhan);
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 5px;
}

.form-subtitle {
    color: var(--chu-mo);
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--chu-chinh);
}

.form-control {
    background-color: var(--nen-phu);
    border: 1px solid rgba(56, 189, 248, 0.2);
    color: var(--chu-chinh);
    padding: 12px 15px;
    border-radius: 6px;
    box-shadow: none;
}

.form-control:focus {
    background-color: var(--nen-khoi);
    border-color: var(--mau-nhan);
    box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.1);
    color: var(--chu-chinh);
}

.form-control::placeholder {
    color: rgba(148, 163, 184, 0.4);
}

.input-group-text {
    background-color: var(--nen-phu);
    border: 1px solid rgba(56, 189, 248, 0.2);
    border-left: none;
    color: var(--chu-mo);
    cursor: pointer;
    transition: 0.3s;
}

.input-group-text:hover {
    color: var(--mau-nhan);
}

.btn-submit {
    background-color: var(--mau-nhan);
    color: var(--nen-ngoai);
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: var(--mauHover);
    color: var(--trang);
}