 /* main */
 .nut-chinh {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--mau-nhan);
     color: var(--nen-ngoai);
     font-weight: bold;
     border: none;
     transition: 0.3s;
     font-size: 15px;
     border-radius: 6px;
     padding: 12px 25px;
     text-decoration: none;
 }

 .nut-chinh:hover {
     background-color: var(--mau-hover);
     color: var(--trang);
 }

 .icon-nho {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--nen-phu);
     color: var(--chu-mo);
     border: none;
     transition: 0.3s;
 }

 .icon-nho:hover {
     background-color: var(--mau-nhan);
     color: var(--nen-ngoai);
 }

 .khung-anh-sp {
     width: 140px;
     height: 140px;
     background-color: var(--trang);
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     flex-shrink: 0;
 }

 .khung-anh-sp img {
     max-height: 90%;
     max-width: 90%;
     object-fit: contain;
 }

 .nut-so-luong {
     background: transparent;
     color: var(--trang);
     border: none;
     padding: 5px 15px;
     font-size: 18px;
     cursor: pointer;
     transition: 0.2s;
 }

 .nut-so-luong:hover {
     color: var(--mau-nhan);
 }